body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

.form-box{
width:300px;
margin:auto;
padding:20px;
background:white;
margin-top:50px;
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
cursor:pointer;
}